// buttons

@mixin button(){
  cursor: pointer;
  display: inline-block;
  background-color: $theme-color-1;
  padding: 12px 15px;
  border: 0;
  font: 14px $headline-font;
  color: $icon-button-color;
  min-height: 43px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  vertical-align: 0;
  margin-bottom: 0;
  white-space: normal;
  @each $current-headline-font in $headline-font {
    @if $current-headline-font == 'Josefin Sans' {
      padding: 12px 15px 10px 15px;
      line-height: 22px;
    }
  }
  a {
    color: $icon-button-color;
  }
  &:hover {
    @if lightness($icon-button-color) > 50% {
      background-color: darken($theme-color-1, 5);
    }
    @else {
      background-color: lighten($theme-color-1, 5);
    }
  }
}

.button,
.small_button {
  @include button;
}

.tiny-button {
  font-size: 12px;
  padding: 2px 5px;
  min-height: 100%;
}

.submit-button, .success-button {
  @include button;
  border: 0;
}

// red button, commonly used to cancel actions

.destroy-link {
  background-color: $red;
  &:hover {
    background-color: lighten($red, 5);
  }
}

.submit-link {
  cursor: pointer;
  border: 0;
  background-color: $theme-color-3;
  display: inline-block;
  color: $theme-color-4;
  font: 14px $headline-font;
  padding: 0px 15px;
  min-height: 43px;
  line-height: 43px;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: lighten($theme-color-3, 5);
  }
}

.neutral-link {
  background-color: $theme-color-1;
  &:hover {
    background-color: lighten($theme-color-1, 5);
  }
}

// button to close share box

.share-close {
  float: right;
  margin: -15px -15px 10px 10px; 
  padding: 5px;
  min-height: auto;
  font-size: 11px;
  @include border-radius(0px);
}

// read more link

.read-more, .read_more {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.share-container {
  .small-button {
    min-height: 24px;
    line-height: 24px;
    padding: 5px 10px;
    font-size: 12px;
  }
}

.signin-social-button{
  padding-bottom: 10px;
  display: block;
}

// page specific buttons
.vote-pledge-form {
  .button {
    margin: -10px 10px 15px 0;
    display: inline-block;
    float: left;
  }
}